app.js
text.txt
# Ignorar carpeta de binarios
.terraform/

# Ignorar archivos de estado local (si no usas backend remoto)
*.tfstate
*.tfstate.*

# Ignorar variables y secretos
*.tfvars
*.tfvars.json
.env
backend.conf
*.pem

# Monolito frontend (Vite / npm)
monolito/frontend/node_modules/
monolito/frontend/dist/

.unlighthouse/
